.tw-followCard-container {
  display: flex;
  flex-direction: column;
  border: 1.6px solid rgba(99, 104, 108, .5);
  /*border: 1px solid #63686C;*/
  width: 345px;
  padding: 0px 5px 20px 5px;
  background-color: var(--dark-primary);
  border-radius: 15px;
  }
  
  .tw-followCard {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.tw-followCard:hover {
  background-color: #111010;
}

.tw-followCard-title {
  margin: 0;
  padding: 11px 20px 10px 15px;
  font-size: 1.25rem;  
  color: #E7E9EA;
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px
}
  
.tw-followCard-avatar {
  width: 40px;
  height: 40px;
  border-radius: 1000px;
  color: #E7E9EA;
}

.tw-followCard-userInfo {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding-left: 5px;
}

.tw-followCard-userInfo-userName {
  opacity: .7;
  color: #a2a4a6;  
  }

.tw-followCard-button {
  width: 77px;
  height: 33px;
  padding: 6px 16px;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  font-weight: bold;
  border: 1px solid #000;
  transition: .3s ease background-color;
  cursor: pointer;  
}

.tw-followCard-button.is-following {
  border: 1px solid #bbb;
  background: transparent;
  color: #fff;
  width: 95px;
  height: 30px;
}

.tw-followCard-button.is-following:hover {
  background-color: rgba(255, 0, 0, 0.178);
  color: red;
  border: 1px solid red;
  transition: .3s ease all;
  opacity: 1;
}

.tw-followCard-button:hover {
  opacity: .8;
}

.tw-followCard-buttonText {
  display: block;
}

.tw-followCard-stopFollow {
  display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-buttonText {
  display: none;
}
  
.tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
  display: block;
}