:root {
  --dark-primary:#000000  ;
}
body {
    display: grid;    
    margin: 0;
    background: var(--dark-primary);
    font-family: system-ui;
    place-content: center;
    min-height: 100vh;
}

.appContainer {
    display: flex;
    flex-direction: column;
    gap: 40px; 
  }